<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.marcuzzz.copysave-alfred</string>
	<key>connections</key>
	<dict>
		<key>62B2A490-B60A-4F82-8B4E-36CCC94484BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6542FF9-6087-4893-AD7C-5546B5B09E0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FFB80D08-1BCD-46C7-B648-BEBC9BADCCB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F255BB4F-6445-45FD-8D45-46093503ABF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62B2A490-B60A-4F82-8B4E-36CCC94484BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marc Otten</string>
	<key>description</key>
	<string>copysave</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CopySave Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Copieed...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F6542FF9-6087-4893-AD7C-5546B5B09E0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>scopy</string>
				<key>subtext</key>
				<string>Savely Copy Code</string>
				<key>text</key>
				<string>CopySave</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F255BB4F-6445-45FD-8D45-46093503ABF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set runCmd to do shell script "./copysave"
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62B2A490-B60A-4F82-8B4E-36CCC94484BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Purr</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>FFB80D08-1BCD-46C7-B648-BEBC9BADCCB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># copysave</string>
	<key>uidata</key>
	<dict>
		<key>62B2A490-B60A-4F82-8B4E-36CCC94484BD</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>F255BB4F-6445-45FD-8D45-46093503ABF0</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>F6542FF9-6087-4893-AD7C-5546B5B09E0B</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>FFB80D08-1BCD-46C7-B648-BEBC9BADCCB2</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/Marcuzzz/copysave_alfred_actions</string>
</dict>
</plist>
